nav {
  color: white;
  font-family: 'Lato', sans-serif;
  padding: 2rem 0;

  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  place-items: start center;


  @media (max-width: $breakpoint-sm) {
    grid-template-columns: 1fr;
    grid-template-rows: 3fr;
  }


  #logo {
    display: inline-flex;
    align-items: center;

    * {
      margin: 0 0.2rem;
    }

    p {
      font-style: normal;
      font-weight: bold;
      font-size: 1.125rem;
      line-height: 1.375rem;
      text-transform: uppercase;
    }
  }

  ul {
    padding: 0;
    display: inline-flex;
    list-style: none;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    li {
      margin: 0.2rem 1rem;
      text-transform: uppercase;
      font-style: normal;
      font-weight: bold;
      font-size: 0.875rem;
      line-height: 1.125rem;
    }
  }

  #misc {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    justify-content: space-evenly;

    .lang {
      display: inline-flex;
      align-items: center;

      * {
        margin: 0 0.2rem;
      }
    }

    .auth {
      a {
        color: #fff;
        @extend .fucking-links;
        padding: 1rem 2rem;
        text-transform: uppercase;
        border: 1px solid #FFFFFF;
        box-sizing: border-box;
        border-radius: 6px;

        &:hover {
          background-color: #fff;
          color: $primary;
        }
      }
    }
  }
}
