#secondSection {
  background-color: #fff;
  display: grid;
  grid-gap: 6.25rem;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  place-items: center;
  padding: 5rem 10rem;


  @media (max-width: $breakpoint-md) {
    text-align: center;

    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr;
    grid-column: revert;
    padding: 1rem 2rem;
    grid-gap: 0.5rem;
    grid-auto-flow: dense;


  }

  .info_segment {
    & > * {
      margin: 1rem 0;
    }


  }

  .video_segment {
    cursor: pointer;
    display: block;

    .play_btn {
      background-image: url("/images/play_btn.svg");
      position: relative;
      width: 66px;
      height: 66px;
      left: -33px;
      top: -50%;

      @media (max-width: $breakpoint-sm) {
       transform: scale(0.9);
        top: -35%;
      }
    }

  }
}
