/*
 ***********************
 *    IMPORT FONTS     *
 ***********************
*/
@import 'variables';
@import "globals";
@import "segments/nav";
@import "segments/first";
@import "segments/second";
@import "segments/third";
@import "segments/fourth";
@import "segments/fifth";
@import "segments/sixth";
@import "segments/footer";

@import url('../fonts/Roboto.css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
@import "normalize.css";



* {
  font-family: 'Lato', sans-serif;
}




body {
  min-height: 100vh;
  display: grid;
  width: 100%;

}

header {
  position: absolute;
}








